/***********************************************************************************/
/***************************** 前端公共部分 - 建议不做更改 *************************/
/***********************************************************************************/
/*
	author: danny.xu
	date:		2011-4-30 15:11:58
	description:	分页条daPage样式

*/
.daPage {display:inline-block; *zoom:1; *display:inline; text-align:left; vertical-align:middle; font-size: 12px; margin:2px 0px;}
        
.daPage a {
	text-decoration: none;
	border: solid 1px #ddd;
	color: #333;
	background: #fff;
}

.daPage a, 
.daPage span {
	display:inline-block; *zoom:1; *display:inline;
	padding: 2px 3px;
	margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.daPage .omit {
	margin: 0px,
	padding: 0px;
}

.daPage .current {
	background: #26B url(../images/daPage_current.png);
	color: #fff;
	border: solid 1px #444;
}

.daPage .current.prev, 
.daPage .current.next{
	color:#ddd;
	border-color:#ddd;
	background:#fff;
}

/*********** 文章详细页 *************/
.art_content p{
	text-indent: 28px;
	font-size: 14px;
	margin-bottom: 25px;
	line-height:24px;
}

/*********** 评论模块 ****************/
.cmtBox{margin:0 auto;font-family:宋体;position:relative;}
.cmtBox a{color:#004276;}
.cmtBox select,.cmtBoxinput{font-size:12px;}
.cmtBox .tit02{text-indent:9px; font:18px "微软雅黑";padding:8px 0;border-top:4px solid #000;background:#fff;margin:10px 0 0;}
.cmtBox .share{font-family:"宋体";font-size:12px;position:absolute;right:0px;top:13px;*top:25px;}
.cmtBox .share a{float:left;margin-right:3px;text-indent:0px}
.cmtBox .share span{padding-top:6px;float:left;color:#2f2f2f}
.cmtBox .share img{padding-left:2px;padding-top:3px}

.cmtBox .commentLoginBox{background:#f4f4f4;padding:0 10px 10px;border-top:1px solid #ddd;}
.cmtBox .commentLogin{padding:10px 0 0;}
.cmtBox .commentLogin input{font-size:12px;line-height:18px;padding-top:2px}
.cmtBox .commentLogin .btn{color:#2B2B2B;font-size:12px;line-height:22px;width:52px;height:24px;text-align:center;cursor:pointer; padding:0px; margin-left:9px;border:1px solid #999;}
.cmtBox .userInfo{color:#004276;height:24px;line-height:24px;}

.cmtBox .view{text-align:right;color:#444;padding-top:8px;}
.cmtBox .content{color:#666;font-size:12px;height:83px;width:670px;padding-top:5px;resize:none;border:1px solid #999;_margin-left:-2px;resize:none;outline:none;}

.cmtBox .commentlist{margin:20px 0 10px; padding:5px; background:#fff;border:1px solid #ddd;position:relative;overflow:hidden}

/***********************************************************************************/
/***************************** 前端公共部分 - 建议不做更改 *************************/
/***********************************************************************************/




#header_images {
	width:960px;
	height:0;
	overflow:hidden;
	margin:0 auto;
	position:absolute;
	left:50%;
	margin-left:-480px}

.header_image {
	margin:0 auto;
	opacity:0;
	position:absolute;
	}

#aside2 {
	width:100%;}

#header_controls_left, #header_controls_right {
	position:absolute;
	top:0;
	z-index:99;
	cursor:pointer;
	display:block;
	width:20px;
	height:468px;
	background:url(../images/slider_arrows.png) 0 210px no-repeat;
	text-indent:-9999px;
	border:0;}

#header_controls_right {
	background:url(../images/slider_arrows.png) -20px 210px no-repeat;
	right:0;}

#overlay_bg {
	width:900px;
	top:0;
	left:30px;
	height:0;
	position:absolute;
	opacity:.4;
	cursor:pointer}
